body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.title-anim {
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html,
body {
    width: 100vw;
    height: 100vw;
    font-family: "Aeonik_OVERVIEW";
    overflow-x: hidden;
}
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    pointer-events: none;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.loader-1,
.loader-2,
.loader-3 {
    position: relative;
    background: #fff;
    height: 5vw;
}

.loader-1 {
    width: 20vw;
}

.loader-2 {
    width: 23vw;
    left: -1%;
}

.loader-3 {
    width: 20vw;
    left: -1%;
}

.website-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card {
    position: flex;
    width: 0;
    height: 0;
    top: 40%;
    left: 50%;
    box-shadow:
        0 0 10vw 0vw #ffffff,
        0 0 2vw 0.4vw #b6b6b6,
        inset 0 0 .5vw 0.2vw #ffffff,
        inset 0 0 0.2vw 0.2vw #bebebe,
        inset 0 0 .25vw 0.2vw #919191;

    animation: increaseHeight 1s ease-in-out 19s forwards, increaseWidth 5s ease-in-out 20s forwards;
}

@keyframes increaseHeight {
    from {
        height: 0;
    }
    to {
        height: 90%;
    }
}

@keyframes increaseWidth {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

.cv {
    position: absolute;
    top: 5%;
    width: 80%;
    height: 90%;
    opacity: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cv h1 {
    color: white;
}