* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html,
body {
    width: 100vw;
    height: 100vw;
    font-family: "Aeonik_OVERVIEW";
}
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    pointer-events: none;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    transform: translate(-50%, -50%);
    display: flex;
}

.loader-1,
.loader-2,
.loader-3 {
    position: relative;
    background: #fff;
    height: 5vw;
}

.loader-1 {
    width: 20vw;
}

.loader-2 {
    width: 22vw;
}

.loader-3 {
    width: 20vw;
}

.website-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: relative;
    width: max-content;
    height: max-content;
}

.h1 {
    display: flex;
}

h1 {
    font-size: 80px;
}

.header .h1 h1 {
    text-align: center;
    position: relative;
    top: 80px;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 400;
}

.header-revealer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.header-revealer:after {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 105%;
    height: 110%;
    background: #fff;
}
